{{#unless records }}
<!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h4 class="card-title h4 pb-2"><strong>哎呀呀!看來你這裡沒有任何支出紀錄唷!</strong></h4>

  <!-- Card image -->
  <p class="card-text">記帳是個好習慣，趕快多做一點紀錄吧!</p>
  <a href="/record/new" class="btn btn-info btn-sm">新增支出</a>
</div>
{{/unless}}